<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/stands"></ion-back-button>
    </ion-buttons>
    <ion-title>Stand n° {{idStand}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-liste-exposant
      standId={{idStand}}>
    </app-liste-exposant> 
    <app-liste-rdv
      standId={{idStand}}>
    </app-liste-rdv>
  <ion-list>
    <ion-button color="primary" expand="full" shape="round" (click)="onPlan()">Afficher sur le plan</ion-button>    
    <ion-button color="primary" expand="full" shape="round" (click)="onFavoris()">Ajouter aux favoris</ion-button>
  </ion-list>
</ion-content>
