fieldset{
    text-align: justify;
    border:2px solid #BDAC98;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    margin-bottom: 20px;
}

legend {
    font-size: 113%;
    Font-Weight: Bold;
}

div {
    text-align: center;
}

.jaune {
    color: #edc115;
}

.bleu {
    color: #71A4FF;
}

.bleu_claire {
    color: #5FE1EF;
}

.violet {
    color: #9877FF;
}

.rouge {
    color: #C51B5E;
}

.vert {
    color: #2FE075;
}