<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>        
    <ion-title>Rdv: ({{r.id}}) {{r.titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>                       
      <ion-item>  
        <ion-label>
          Stand n° <b>{{r.idStand}}</b> 
        </ion-label>
      </ion-item>
      <ion-item>  
        <ion-label>
          le {{r.jour}} à {{r.heure}}
        </ion-label>
      </ion-item>  
      <ion-item>  
        <ion-label>
          Type : <b>{{r.type}}</b>
        </ion-label>
      </ion-item>  
      <ion-item>
        <ion-label>
          Exposant : <b>{{r.nom}}</b>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          {{r.duree}} pour {{r.age}}
        </ion-label>
      </ion-item>
      <ion-item [hidden]="!r.description">
        <p style="white-space:initial;">{{r.description}}</p>
      </ion-item>
      <ion-item-divider>Liste des participants</ion-item-divider>
      <ion-item *ngFor="let p of personnes">
        <ion-label>
          <ion-text>
            {{p.nom}} {{p.prenom}}
          </ion-text>
        </ion-label>
      </ion-item>   
      <ion-button color="primary" expand="full" shape="round" (click)="onFavoris(r)">Ajouter aux favoris</ion-button> 
      <ion-button color="primary" expand="full" shape="round" (click)="onRdvPlan(r)">Afficher sur le plan</ion-button>     
  </ion-list>
</ion-content>
