<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>        
    <ion-title>({{r.id}}) {{r.titre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>                       
      <ion-item>  
        <ion-label>
          Stand n° <b>{{r.idStand}}</b> 
        </ion-label>
      </ion-item>
      <ion-item>  
        <ion-label>
          le {{r.jour}} à {{r.heure}}
        </ion-label>
      </ion-item>  
      <ion-item>  
        <ion-label>
          Type : <b>{{r.type}}</b>
        </ion-label>
      </ion-item>  
      <ion-item>
        <ion-label>
          Exposant : <b>{{r.nom}}</b>
        </ion-label>
      </ion-item>
      <ion-item [hidden]="!r.description">
        <p style="white-space:initial;">{{r.description}}</p>
      </ion-item>
      <ion-item>
        <h2 *ngIf="personnes.length">Participants</h2>
        <p *ngFor="let p of personnes" style="white-space:initial;">{{p.nom}} {{p.prenom}}</p>
        <br>
        <p>{{r.duree}} pour {{r.age}}</p><br>              
      </ion-item>   
      <!--<button ion-button full (click)="onExposant(r)" class="btn">Plus d'informations</button>-->
      <ion-button color="primary" expand="full" shape="round" (click)="onFavoris(r)">Ajouter aux favoris</ion-button> 
      <ion-button color="primary" expand="full" shape="round" (click)="onRdvPlan(r)">Afficher sur le plan</ion-button>     
  </ion-list>
</ion-content>
