page-historique {
    .rouge {
        color:#C51B5E;
    }
	
	fieldset{
	text-align: left;
	border:2px solid #BDAC98;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
	margin-bottom: 5%;
	}
	
	legend
	{
	  font-size: 113%;
	  Font-Weight: Bold;
	  color:#C51B5E;
	}
	
	div
	{
	text-align: center;
	}
	
}
.accueil {
	text-align: center;
}
.btnacc {
	height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
}

.background {
    background: #EEEDEB;
    //#f2f2f2
}