<!--
  Generated template for the RechercheExposantPlanPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Recherche exposants</ion-title>
    </ion-navbar>
</ion-header>


<ion-content class="background">
    <br>
    <ion-list>
        <ion-item class="debutListe">
            <ion-input type="text" [(ngModel)]='recherche.libelle' placeholder="Taper une partie du nom"></ion-input>
        </ion-item>
        <ion-item class="finListe">
            <ion-label>Thèmes</ion-label>
            <ion-select full [(ngModel)]="recherche.themeId" >
                <ion-option *ngFor="let t of themes" value="{{t.id}}">{{t.libelle}}</ion-option>
            </ion-select>
        </ion-item>
        <br>
        <button ion-button class="btn"  color="rouge" full (click)="onRecherche()">Rechercher</button>
    </ion-list>
    <ion-list>
        <ion-item-divider class="debutListe">Liste des exposants</ion-item-divider>
        <ion-item *ngFor="let e of exposants" (click)="onExposantClick( e )">
            <ion-thumbnail item-start *ngIf="e.image">
                <img src="{{e.image}}">
            </ion-thumbnail>
            <h2>{{e.nom}}</h2>
            <p>Stand n° {{e.idStand}}</p>
        </ion-item>
        <br>
        <button ion-button full [hidden]="!exposants.length || exposants.length>1" (click)="onPlan()"class="btn"  color="rouge">Afficher sur le plan</button>
    </ion-list>
</ion-content>
