<!--
  Generated template for the RechercheLivrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Recherche de livres</ion-title> <!-- contenu de la barre de navigation -->
    </ion-navbar>
</ion-header>


<ion-content class="background">
    <ion-list>
        <ion-item class="debutListe">
            
            <!-- case pour écrire le titre-->
            <ion-input type="text" [(ngModel)]='recherche.titre' placeholder="Tapez une partie du titre"></ion-input> 
        </ion-item>

        <!-- case pour cliquer le thème-->
        <ion-item class="Liste" > 
            <ion-label >Thèmes</ion-label>
            <ion-select full [(ngModel)]="recherche.themeId">
              <ion-option value="0">Tous les thèmes</ion-option>
              <ion-option *ngFor="let t of themes" value="{{t.id}}">{{t.libelle}}</ion-option> <!-- recherche l'id du thème sélectionné dans themes -->
            </ion-select>
        </ion-item>
        <ion-item class="Liste" >
            <ion-label >Auteurs</ion-label>
            <ion-select full [(ngModel)]="recherche.auteur">
              <ion-option value="0">Tous les auteurs</ion-option>
              <ion-option *ngFor="let a of auteurs" value="{{a.auteur}}">{{a.auteur}}</ion-option> <!-- recherche le nom de l'auteur dans auteurs -->
            </ion-select>
        </ion-item>        
        <ion-item class="Liste" >
            <ion-label >Editeurs</ion-label>
            <ion-select full [(ngModel)]="recherche.editeur">
              <ion-option value="0">Tous les éditeurs</ion-option>
              <ion-option *ngFor="let e of editeurs" value="{{e.editeur}}">{{e.editeur}}</ion-option> <!-- recherche l'editeur dans editeurs -->
            </ion-select>
        </ion-item>        
        <ion-item class="finListe" >
            <ion-label >Tranches d'âge</ion-label>
            <ion-select full [(ngModel)]="recherche.trancheAgeId">
              <ion-option value="0">Toutes les tranches</ion-option>
              <ion-option *ngFor="let t of trancheAges" value="{{t.id}}">{{t.libelle}}</ion-option> <!-- recherche la tranche d'âge dans trancheAges -->
            </ion-select>
        </ion-item>        
    </ion-list>
    
    <button ion-button full (click)="onRechercheClick()" class="btn" color="rouge" >Rechercher</button> <!-- bouton "rechercher" -->
    <ion-list>
        <ion-item-divider class="debutListe">Liste des livres</ion-item-divider> <!-- séparateur "Liste des livres" -->
        <!-- <button ion-button full [hidden]="!exposants.length || exposants.length>6" (click)="onPlan()">Afficher sur le plan</button> -->

        
        <ion-item *ngFor="let l of livres" (click)="onLivreClick(l)"> <!-- pour chaque ligne de livre affichée il y a: -->
            <ion-thumbnail item-start >
                <img src={{l.image}}> <!-- la couverture -->
            </ion-thumbnail>            
            <h2> {{l.titre}} </h2> <!-- le titre -->
            <p> 
                Auteur: <b>{{l.auteur}}</b>  chez {{l.editeur}} <!-- le nom de l'auteur et chez quel éditeur il a été publié-->
            </p>
            <p>
                Thème: {{l.libelle}} <!-- le nom du thème -->
            </p>
            <p>
                Exposant: {{l.nom}} <!-- le nom de l'exposant chez qui on peut le trouver -->
            </p>
            <p>
                Stand n° {{l.numStand}} <!-- le num du stand où on peut le trouver -->
            </p>
        </ion-item>
        <p *ngIf="!livres.length" style="color:red;"><b>Aucun livre n'a été trouvé.</b></p> <!-- si la liste de livre est vide, afficher ce message d'erreur -->
    </ion-list>
</ion-content>

