page-stand {
    .button-list {
        border-radius: 10% / 55%;
        background: #C51B5E;
        margin-bottom: 5px;
        color: white;
    }
    .icon-home {
        color: white;
    }
    
}