page-exposant {
    .icon-home {
        color: orange;
    }
    .accueil {
        text-align: center;
    }
    .btnacc {
        height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
    }

    .btn{
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 50px;
        margin-bottom: 10px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
    }
    .Liste{
        background: #DED8CF;
        color: black;
        border-radius: 10px 10px 0px 0px;
    }

    .finListe{
        color: black;
        border-radius: 0px 0px 10px 10px;
    }
}