page-presentation {
    .button {
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 50px;
        margin-bottom: 40px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
         
    }
    ion-list {
        text-align: center;
    }
    .icon {
        font-size: 25px;
    }

    .background {
        background: #EEEDEB;
        //#f2f2f2
    }
}