<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentationpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Liste des stands</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-searchbar (ionInput)="onSearchStand($event)" placeholder="N° du Stand"></ion-searchbar>
    <br>
    <ion-item *ngFor="let stand of stands">
      <ion-button href="/stand/{{stand.id}}" style="text-align:center;font-weight:bold;">
        <ion-icon class="icon-home" name="home"></ion-icon>
        STAND {{stand.id}}
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>
