page-home {
    .debutJeu {
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 50px;
        margin-bottom: 40px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
         
    }
}



.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.field
{
    
    border:1.5px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
    margin-bottom: 5%;
    background: white;
    

}
.Liste{
    background: #DED8CF;
    color: black;
    border-radius: 10px 10px 10px 10px;
}