page-recherche-theme {
    .btn {
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 5px;
        margin-bottom: 10px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
    }
    
    
    

}