page-list {
    .icon-home {
        color: #cc5200;
        font-size: 30px;
    }
    .button {
        text-align: center;
    }
    .search {
        top: 20px;
        position: fixed;
    }
}