<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-button (click)="presentationpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title color="secondary">Thème de l'année 2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
    <div class="titre">
        <fieldset>
    <legend class="jaune">LA FÊTE DANS SES PLUS BEAUX ATOURS</legend>
    <p>Pour paraphraser Hemingway qui disait, lui, que « Paris est une fête », c’est bien Colmar qui vous fera tourner la tête tant les propositions seront nombreuses, qui allumera lampions et réverbères littéraires pour mettre en lumière la diversité et la qualité des dernières parutions. Des débats passionnés mettront aux prises des auteurs venus d’horizons divers, le roman, l’essai, la jeunesse, la bande dessinée. Simone Hérault, que vous connaissez mieux comme « la voix de la SNCF », amènera sa joyeuse troupe musette pour une lecture de textes aussi délurée qu’attachante.

Enfin, pour les enfants, ce sera Noël avant l’heure, tant le programme qui leur est proposé est épatant.

Le Festival du livre de Colmar, une fête pour chacun tant les divers goûts et couleurs sont représentés ; une fête pour tous tant le livre et la lecture sont un bien commun à chérir précieusement.
    <br><br><strong>Jacques Lindecker critique littéraire à L’Alsace, auteur et conseiller littéraire pour Colmar</strong></p>
    </fieldset>
    </div>
    <br><br>
    <ion-card>
        <ion-card-content class="imagecouvert">
            <img src="assets/img/affiche.png">
        </ion-card-content>
    </ion-card>
</ion-content>
