<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-button (click)="presentationpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Thème de l'année 2019</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>
    <div class="titre">
        <fieldset>
    <legend> La fête ? </legend>
    <p>Selon Jean Duvignaud, la fête n'annonce pas un ordre nouveau, elle n'est pas la révolution. Elle est plutôt une parenthèse à l'intérieur de l'existence sociale et du règne de la nécessité. Elle est aussi ce qui peut conférer une raison d'être à la quotidienneté, d'où la tentation de multiplier les occasions de fêtes, au point, note Jean Duvignaud, que « certaines nations, certaines cultures se sont englouties dans la fête».
    <br><br><strong>Jean Duvignaud, Ecrivain Français</strong></p>
    </fieldset>
    </div>
    <br><br>
    <ion-card>
        <ion-card-content class="imagecouvert">
            <img src="assets/img/affiche.png">
        </ion-card-content>
    </ion-card>
</ion-content>
