<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title><h1>Présentation</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="historiquepage()" expand="block" fill="clear" color="warning" size="large">Historique</ion-button>
  <ion-button (click)="datepage()" expand="block" fill="clear" color="primary" size="large">Date importante</ion-button>
  <ion-button (click)="themepage()" expand="block" fill="clear" color="secondary" size="large">Thème 2019</ion-button>
  <a href="https://festivaldulivre.colmar.fr/archives-annees-precedentes/" target="blank_"><ion-button expand="block" fill="clear" color="tertiary" size="large">Archive</ion-button></a>
  <a href="http://premierchapitre.fr/wapp/v4/index.php?idk=793" target="blank_"><ion-button expand="block" fill="clear" color="danger" size="large">Premier chapitre</ion-button></a>
</ion-content>
