<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button class="coulresto" tab="tab1">
      <ion-icon name="restaurant"></ion-icon>
      <ion-label>Restauration</ion-label>
    </ion-tab-button>

    <ion-tab-button class="coulaccueil" tab="tab2">
      <ion-icon name="home"></ion-icon>
      <ion-label>Accueil</ion-label>
    </ion-tab-button>

    <ion-tab-button class="coulrecherches" tab="tab3">
      <ion-icon name="search"></ion-icon>
      <ion-label>Recherches</ion-label>
    </ion-tab-button>

    <ion-tab-button class="coulmap" tab="plans">
      <ion-icon name="map"></ion-icon>
      <ion-label>Plans</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
