page-info {}

/*.tab-button:nth-child(1) {
    /*your  text color 
    color: green;
    /* your background color
    background:#2c68e0;
    
}

.tab-button:nth-child(2) {
    /*your  text color 
    color: #fff;
    // Couleur de fond des boutons 
    background: #2c68e0;
}

.tab-button:nth-child(3) {
    /*your  text color 
    color: #fff;
    /* your background color
    background: #2c68e0; 

}
*/

/* l'onglet active
.tab-button[aria-selected=true] {
    background: yellow;
}*/