<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Réalisée par</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

<!--     <br><img src="assets/img/gg.jpg"><br> -->
    <br><img src="assets/img/logo1.png"><br>

    <b class="titre"> La section BTS SIO option SLAM </b> <br><br>

    <table>
        <fieldset class="field">

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp; </td>
            <td>AUBERTIN Raphael</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp; </td>
            <td>Enguyen Pascal</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td>  &nbsp;&nbsp; </td>
            <td>CAN Mikail</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp; </td>
            <td>Nguyen Li-chi</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp; </td>
            <td>Nguyen Tchiwzong</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp; </td>
            <td>Inserer nom</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp; </td>
            <td>SERT Mikayil</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Jean Fée Tus</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
        </tr>
    
    </fieldset>
    </table>
    <br>
    <br>
    <b class="titre">En étroite collaboration avec les étudiants de BTS MUC </b> <br><br>

    <table>
            <fieldset class="field">
        <tr class="texte">
            <td>Ifii nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>

        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>

        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
        </tr>
                
        </fieldset>
    </table>
    <br><br>
    <b class="titre">Avec la participation des enseignants<br><br></b>

    
    <table>
        <fieldset class="field">
            <tr class="texte">
                <td>RINALDI Axel</td>
                <td> &nbsp;&nbsp;  </td>
                <td> RUFF Nathalie</td>
            </tr>
            <tr class="texte">
                <td>L'HELGUEN Hervé</td>
                <td> &nbsp;&nbsp;  </td>
                <td>ZINCK Dominique</td>
             </tr>
             <tr class="texte">
                <td>ZINCK Olivier</td>
                <td> &nbsp;&nbsp;  </td>
                <td></td>
            </tr>
        </fieldset>
    </table>
</ion-content>
