<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Réalisée par</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

<!--     <br><img src="assets/img/gg.jpg"><br> -->
    <br><img src="assets/img/logo1.png"><br>

    <b class="titre"> La section BTS SIO option SLAM </b> <br><br>
<ion-grid>
<fieldset class="field">
  <ion-row>
    <ion-col>
      <div class="texte">
        NGUYEN Pascal
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        AUBERTIN Raphael
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        CAN Mikail
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
         RUBIO Loïc
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        BAYAZIT Alain
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        DRAPIED Thibault
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        BLINN Zachari
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        CLAD Etienne
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        EINHORN Gauthier
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        MER Rommanirs
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        HIPPEL Michaël
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        STUDER Gaétan
      </div>
    </ion-col>
  </ion-row>
</fieldset>
</ion-grid>
    <br>
    <br>
    <b class="titre">En étroite collaboration avec les étudiants de BTS MUC </b> <br><br>

<ion-grid>
<fieldset class="field">
  <ion-row>
    <ion-col>
      <div class="texte">
        ALVES-DOMINGUES Kassandra
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        ASLLANI Elzon
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        BIHRY Mallaury
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
         BULET Eden
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         BURGARD Léa
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         BUTTERLIN Tom
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
         CHAMBAS - DARCQUES Yvanna
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         CRIDELICH Thibaut
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        CUSTODIO Amélia
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        FAIVRE Alexandre
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        GORISEK Ewan
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         GUIDEMANN Natacha
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        HAJIB Rhania
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        HEIMBURGER Alyson
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        HEITZMANN Maëva
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        HILDWEIN Ilona
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        HOFF Clemence
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         JENNY Victor
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
         KRASNIQI Leonita
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         LAMOURI Ayoub
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
         LEFEVRE Hugo
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        LUCIUS Felicie
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        MABROUK Nisrine
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        MAHFOUF Jihanne
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        MARANZANA Léa
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        MESTIRI Wahbi
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        MINASYAN Karen
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        MIR Fanny
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        NGOME MONGUELE Oliveira
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        PEREIRA Florian
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        RICHTER Jessica
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        ROTTURA Lisa
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        SAINT ANGE Karel
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        SAPPEL Victor
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        SIARI Karen
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        SOURAYA TOUMBOU Naïma
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
        ZEKOLLI Donika
      </div>
    </ion-col>
  </ion-row>
</fieldset>
</ion-grid>
    <br><br>
    <b class="titre">Avec la participation des enseignants<br><br></b>
<ion-grid>
<fieldset class="field">
  <ion-row>
    <ion-col>
      <div class="texte">
        RINALDI Axel
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
       RUFF Nathalie
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        L'HELGUEN Hervé
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <div class="texte">
         ZINCK Dominique
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        ZINCK Olivier
      </div>
    </ion-col>
  </ion-row>
</fieldset>
</ion-grid>
</ion-content>
