.field
{
            
	border:1.5px solid black;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
	margin-bottom: 5%;
    background: white;
    text-align: center;

}

        .titre
        {
            color: #C51B5E;
            text-align: center;
            font-size: 16px;
            font-weight: bold;
            margin-bottom: -27px;
        }

      .titre_2 {
        margin-top: -20px;
      }

       .texte
       {
        overflow:auto;
        white-space:nowrap;
        letter-spacing:0.1rem;
        text-align: center;
   
       }

       .jaune {
    color: #edc115;
}

.bleu {
    color: #71A4FF;
}

.vert {
    color: #2FE075;
}

      

       table{
        margin:auto;
        }
h1{
    color: #9877FF;
    padding-right: 50px;
    text-align: center;
}