<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Réalisée par</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background" padding>

<!--     <br><img src="assets/img/gg.jpg"><br> -->
    <br><img src="assets/img/logo1.png"><br>

    <b class="titre"> La section BTS SIO option SLAM </b> <br><br>

    <table>
        <fieldset class="field">

        <tr class="texte">
            <td>NGUYEN Pascal</td>
            <td> &nbsp; </td>
            <td>AUBERTIN Raphael</td>
        </tr>

        <tr class="texte">
            <td>CAN Mikail</td>
            <td> &nbsp; </td>
            <td>RUBIO Loïc</td>
        </tr>

        <tr class="texte">
            <td>BLINN Zachari</td>
            <td>  &nbsp;&nbsp; </td>
            <td>CLAD Etienne</td>
        </tr>
        <tr class="texte">
            <td>EINHORN Gauthier</td>
            <td>  &nbsp;&nbsp; </td>
            <td>MER Rommanirs</td>            
        </tr>
        <tr class="texte">
            <td>BAYAZIT Alain Sercem</td>
            <td>  &nbsp;&nbsp; </td>
            <td>DRAPIED Thibault</td>
        </tr>
        <tr class="texte">
            <td>HIPPEL Michaël</td>
            <td>  &nbsp;&nbsp; </td>    
        </tr>    
    </fieldset>
    </table>
    <br>
    <br>
    <b class="titre">En étroite collaboration avec les étudiants de BTS MUC </b> <br><br>

    <table>
            <fieldset class="field">
        <tr class="texte">
            <td>Ifii nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>
        <tr class="texte">
            <td>Inserer nom</td>
            <td> &nbsp;&nbsp;  </td>
            <td>Inserer nom</td>
        </tr>                
        </fieldset>
    </table>
    <br><br>
    <b class="titre">Avec la participation des enseignants<br><br></b>

    
    <table>
        <fieldset class="field">
            <tr class="texte">
                <td>RINALDI Axel</td>
                <td> &nbsp;&nbsp;  </td>
                <td> RUFF Nathalie</td>
            </tr>
            <tr class="texte">
                <td>L'HELGUEN Hervé</td>
                <td> &nbsp;&nbsp;  </td>
                <td>ZINCK Dominique</td>
             </tr>
             <tr class="texte">
                <td>ZINCK Olivier</td>
                <td> &nbsp;&nbsp;  </td>
                <td></td>
            </tr>
        </fieldset>
    </table>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
      NGUYEN Pascal
    </ion-col>
    <ion-col size="12" size-sm>
      AUBERTIN Raphael
    </ion-col>
    <ion-col size="12">
      CAN Mikail RUBIO Loïc 
    </ion-col>
    <ion-col size="12">
      BAYAZIT Alain DRAPIED Thibault
    </ion-col>
    <ion-col size="12">
      HIPPEL Michaël
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12" size-sm>
      BLINN Zachari CLAD Etienne
    </ion-col>
    <ion-col size="12" size-sm>
      EINHORN Gauthier MER Rommanirs
    </ion-col>
  </ion-row>
</ion-grid>


<ion-grid>
  <ion-row>
    <ion-col>
      <div class="texte">
        1 of 3
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        2 of 3
      </div>
    </ion-col>
    <ion-col>
      <div class="texte">
        3 of 3
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
