page-halls {
    .button-hall {
        text-align: center;
        font-weight: bold;
        width: 100%;
        margin-bottom: 40px;
        height: 50px;
        border-radius: 10% / 55%;
        background: #C51B5E;
    }
    .accueil {
        text-align: center;
    }
    .btnacc {
        height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
    }
}