<ion-header>
  <ion-toolbar>
    <ion-title>Vous êtes perdu ?</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<img src="assets/img/source.gif">
<ion-card>
	<ion-card-header>
	            <ion-card-title>Les remerciements !</ion-card-title>
	</ion-card-header>
	<ion-card-content>
<p>Cette appli a été développée par les BTS SIO du lycée Camille Sée de Colmar (Services informatiques aux organisations) option SLAM (Solutions logicielles et applications métiers). Depuis le début du mois de septembre 2019, les 11 élèves de SIO ont travaillé sans relâche pour vous offrir cette application qui vous permet de profiter pleinement du Festival et de toutes ses animations.
Pour vous informer et vous aider à utiliser l’appli, toute la section de BTS MCO (Management commercial opérationnel) vous accueillent sur le stand du lycée Camille Sée. Ce sont eux qui ont travaillé sur la communication et la mise en avant de ce précieux outil qui vous guidera durant votre visite au Festival.
Le Festival du Livre est porté par le réseau des Bibliothèques de Colmar , notamment par l’équipe du Festival du livre qui œuvre durant toute une année pour vous offrir cette belle Fête.
</p>
</ion-card-content>
</ion-card>
</ion-content>
