page-favoris {

    .btn{
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 40px;
        margin-bottom: 10px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
    }

    .btnSuppr{
        text-align: center;
        width: 25%;
        height: 5px;
        margin-bottom: 10px;
        color:white;
        background: #C51B5E;
        border-radius: 50px;
    }
}