page-un-rendez-vous {

    .btn
        {
            text-align: center;
            width: 100%;
            font-weight: bold;
            height: 50px;
            margin-bottom: 10px;
            color:white;
            background: #C51B5E;
            border-radius: 10% / 55%;
        }

    .titre
    {
        color: #C51B5E;
        font-size: 125%;
        
    }

  
    .Liste{
        background: #DED8CF;
        color: black;
        border-radius: 10px 10px 10px 10px;
       
    }

 
    

}
