h1{
	color: #EF5A28;
    padding-right: 50px;
    text-align: center;
}
img {
  height: 160px;
  width: 230px;
  margin: auto;
  display: block;
  padding-top : 10px;
  border-radius: 10px;
}
ion-card
{
    text-align: center;
    --background: no-repeat center;
}