<ion-header>
   <ion-toolbar>
       <ion-buttons slot="start">
           <ion-menu-button></ion-menu-button>
       </ion-buttons>
     <ion-title class="ion-text-center" color="orange">
       <b>Restauration</b>
     </ion-title>
   </ion-toolbar>
 </ion-header>
<ion-content fullscreen>
    <ion-card>
        <img src="../../assets/img/resto2.jpg"/>
        <ion-card-header>
            <ion-card-subtitle>Restaurant</ion-card-subtitle>
            <ion-card-title>Tex-Mex A..Z</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            Avec différentes variétés de crudités, customiser votre tex mex avec nos différentes sauces pour moins de 10 €.
        </ion-card-content>
    </ion-card>
</ion-content>