<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">
      <b>Recherches</b>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button routerLink="/stands" expand="block" fill="clear" color="warning" size="large">Stands</ion-button>
  <ion-button routerLink="/themes" expand="block" fill="clear" color="primary" size="large">Thèmes</ion-button>
  <ion-button routerLink="/rdvs" expand="block" fill="clear" color="secondary" size="large">Rendez-vous</ion-button>
  <ion-button routerLink="/exposants" expand="block" fill="clear" color="tertiary" size="large">Exposants</ion-button>
  <ion-button routerLink="/livres" expand="block" fill="clear" color="danger" size="large">Livres</ion-button>
  <ion-button routerLink="/auteurs" expand="block" fill="clear" color="orange" size="large">Auteurs</ion-button>
  <ion-button routerLink="/favoris" expand="block" fill="clear" color="success" size="large">Favoris</ion-button>
</ion-content>
