<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title class="ion-text-center" color="success">
      <h1>Recherches</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button href="/stands" expand="block" fill="clear" color="warning" size="large">Stands</ion-button>
  <ion-button href="/themes" expand="block" fill="clear" color="primary" size="large">Thèmes</ion-button>
  <ion-button href="/rdvs" expand="block" fill="clear" color="secondary" size="large">Rendez-vous</ion-button>
  <ion-button href="/exposants" expand="block" fill="clear" color="tertiary" size="large">Exposants</ion-button>
  <ion-button href="/livres" expand="block" fill="clear" color="danger" size="large">Livres</ion-button>
  <ion-button href="/auteurs" expand="block" fill="clear" color="orange" size="large">Auteurs</ion-button>
  <ion-button href="favoris" expand="block" fill="clear" color="success" size="large">Favoris</ion-button>
</ion-content>
