<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="presentationpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons> 
    <ion-title>Liste des exposants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list>
        <ion-item class="debutListe">
            <ion-input type="text" [(ngModel)]='recherche.libelle' placeholder="Taper une partie du nom"></ion-input>
        </ion-item>
        <ion-item class="finListe">
            <ion-label>Thèmes</ion-label>
            <ion-select full [(ngModel)]="recherche.themeId" >
                <ion-select-option value="null"></ion-select-option>
                <ion-select-option *ngFor="let t of themes" value="{{t.id}}">{{t.libelle}}</ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-button color="primary" expand="full" shape="round" (click)="onRecherche()">Rechercher</ion-button>
    </ion-list>
    <ion-list>
        <ion-item-divider class="debutListe">Liste des exposants</ion-item-divider>
        <ion-item *ngFor="let e of exposants" routerLink="/exposant/{{e.id}}">
            <ion-thumbnail item-start *ngIf="e.image">
                <img src="{{e.image}}">
            </ion-thumbnail>
            <ion-label>
                <h2>{{e.nom}}</h2>
                <p>Stand n° {{e.idStand}}</p>
            </ion-label>
        </ion-item>
        <br>
        <ion-button color="primary" expand="full" shape="round" [hidden]="!exposants.length || exposants.length>1" (click)="onPlan()"class="btn"  color="rouge">Afficher sur le plan</ion-button>
    </ion-list>
</ion-content>
