<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons> 
    <ion-title>Liste des exposants</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <br>
    <ion-list>
        <ion-item class="debutListe">
            <ion-input type="text" [(ngModel)]='libelle' placeholder="Taper une partie du nom"></ion-input>
        </ion-item>
        <ion-item class="finListe">
            <ion-label>Thèmes</ion-label>
            <ion-select full [(ngModel)]="themeId" >
                <ion-select-option value="0">Tous les thèmes</ion-select-option>
                <ion-select-option *ngFor="let t of themes" value="{{t.id}}">{{t.libelle}}</ion-select-option>
            </ion-select>
        </ion-item>
        <br>
        <ion-button color="primary" expand="full" shape="round" (click)="onRecherche()">Rechercher</ion-button>
    </ion-list>
    <app-liste-exposant 
        libelle={{libelle}}
        themeId={{themeId}}>
    </app-liste-exposant>
</ion-content>
