page-dates {
    ion-slides {
        height: auto;
    }
    .b {
        text-align: left;
        color: black;
    }
}
p {
	color: black;
}

summary {
    font-size: 20px;
    color:#C51B5E;
}

h2 {
    text-decoration: underline;
    
}

h3 {
    text-align: center;
    font-size: 18px;
}
.accueil {
    text-align: center;
}
.btnacc {
    height: 50px;
        background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
}

.background {
    background: #EEEDEB;
    //#f2f2f2
}

.fieldsetDate{
	text-align: left;
	border:2px solid #BDAC98;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
	margin-bottom: 5%;
	}
	
// Changement de couleur des dates dans le dossier app/app.scss