<ion-header>
  <ion-toolbar>
       <ion-buttons slot="end">
           <ion-button (click)="planspage()"><ion-icon name="map"></ion-icon>Plan</ion-button>
       </ion-buttons>
    <ion-title color="primary">Jeu Pirate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-card>
        <ion-card-content>
      <img src="assets/enigme/carte1.png"/>     
    </ion-card-content>
  </ion-card>
      <p position="floating" color="warning">Bienvenue à toi moussaillon ! Tout d’abord, pour te repérer, tu dois trouver la boussole. J’ai laissé une croix à son emplacement, rend toi y et cherche la boussole.(cherche un papier avec une boussole dessus, un mot de passe sera écrit, tu devras l’entrer ci-dessous)</p>
      <ion-label position="floating" color="primary">Ecrivez ici le mot de passe à trouver :</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Envoyer</ion-button>
  </form>
</ion-content>