<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/exposants"></ion-back-button>
    </ion-buttons>    
    <ion-title>{{libelle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <img *ngIf="image" src="{{image}}" />
    <ion-card *ngIf="description">
        {{description}}
    </ion-card>            
    <ion-item-divider [hidden]="!stands.length">Liste des stands</ion-item-divider>
    <ion-item *ngFor="let s of stands" class="finListe">
      <ion-label>
          <p>Stand n° {{s.id}} {{s.hall}}</p>
      </ion-label>
    </ion-item>     
  </ion-list>
  <app-liste-livre exposantId={{id}}></app-liste-livre>
  <app-liste-rdv exposantId={{id}}></app-liste-rdv>
  <ion-list>
    <ion-button color="primary" expand="full" shape="round" (click)="onPlan()">Afficher sur le plan</ion-button>    
    <ion-button color="primary" expand="full" shape="round" (click)="onFavoris()">Ajouter aux favoris</ion-button>
  </ion-list>  
</ion-content>
