<ion-header>
  <ion-toolbar>
    <ion-title>Exposant n° {{id}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <img *ngIf="image" src="{{image}}" />
    <ion-card *ngIf="description">
        {{description}}
    </ion-card>            
    <ion-item-divider [hidden]="!stands.length" class="Liste">Liste des stands</ion-item-divider>
    <ion-item *ngFor="let s of stands" class="finListe">
      <ion-label>
          <p>Stand n° {{s.numStand}} hall n° {{s.numHall}}</p>
      </ion-label>
    </ion-item>     
    <br>
                        
    <ion-item-divider class="Liste" [hidden]="!rdvs.length">Liste des rendez vous</ion-item-divider>
    <ion-item *ngFor="let r of rdvs" (click)="onRdv(r)">
        <p style="white-space:initial;"><b>{{r.nom}}</b> ({{r.typeRdv}})</p>  
        <br>
        <p [hidden]="!r.duree"><b>le {{r.jour}} à {{r.heure}}</b></p>
        <br>
        <p [hidden]="!r.description" style="white-space:initial;">{{r.description}}</p>
        <br>
        <p>{{r.duree}} pour {{r.age}}</p><br>
        <p class="addFavorie" (click)="onFavorisRDV(r)"><ion-icon name="star" class="star"></ion-icon></p>
    </ion-item> 
    <br>
    <ion-button ion-button full [hidden]="!stands.length" (click)="onPlan()" class="btn" color="rouge">Afficher sur le plan</ion-button>    
    <ion-button class="btn" color="rouge" ion-button full (click)="onFavoris()">Ajouter aux favoris</ion-button>
  </ion-list>
</ion-content>
