page-livre {
    .icon-home {
        color: orange;
    }
   
    .texte {
        text-align: justify;
    }

    .titre
    {
        color: #C51B5E;
        font-size: 125%;
        font: bold;  
    }

    .fieldLivre
    {
        text-align: left;
	    border:2px solid lightgrey;
        -moz-border-radius:8px;
        -webkit-border-radius:8px;	
        border-radius:8px;	
	    margin-bottom: 5%;
    }

  
 
}