<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons> 	
    <ion-title>Favoris</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list no-border>
        <ion-item ion-item *ngFor="let f of favoris">
          <ion-label (click)="onFavorisClick( f )">
            <ion-text>
                {{f.libelle}}
            </ion-text>
          </ion-label>
            <ion-button item-end (click)="onRemoveFavorisClick( f )"> <ion-icon name="md-trash"></ion-icon></ion-button>
        </ion-item>   
    </ion-list>
    <ion-button color="primary" expand="full" shape="round" (click)="onPlan()">Afficher sur le plan</ion-button> 
</ion-content>
