page-plans {
    .card-background-page {
        ion-card {
            position: relative;
            text-align: center;
            height: 00px;
        }
        .card-title {
            position: absolute;
            top: 36%;
            font-size: 3.0em;
            width: 100%;
            font-weight: bold;
            color: #84C8FF;
            text-shadow: #000000 0.1em 0.1em 0.2em
        }
        .card-subtitle {
            font-size: 1.5em;
            position: absolute;
            top: 55%;
            width: 100%;
            color: blue;
            font-weight: bold;
        }
        .button-card1 {
            height: 200px;
            width: 100%;
            background: #C51B5E;
            background-image: url("../assets/img/Hall1Mini.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .button-card2 {
            height: 200px;
            width: 100%;
            background: white;
            background-image: url("../assets/img/Hall2Mini.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .button-card3 {
            height: 200px;
            width: 100%;
            background: white;
            background-image: url("../assets/img/Hall3Mini.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .button-card4 {
            height: 200px;
            width: 100%;
            background: white;
            background-image: url("../assets/img/Hall4Mini.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        .button-card5 {
            height: 200px;
            width: 100%;
            background: white;
            background-image: url("../assets/img/Hall5Mini.png");
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
    }
}