<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab3"></ion-back-button>
    </ion-buttons> 
    <ion-title>Liste des auteurs</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      <ion-item class="debutListe">
          <ion-input type="text" [(ngModel)]='rNom' placeholder="Taper une partie du nom"></ion-input>
      </ion-item>
      <ion-button color="primary" expand="full" shape="round" (click)="onRecherche()">Rechercher</ion-button>
    </ion-list>
    <ion-list>
      <ion-item *ngFor="let a of auteurs" routerLink="/auteur/{{a.id}}">
        <ion-label>
          <ion-text>
            <h2>{{a.nom}} {{a.prenom}}</h2>
          </ion-text>
        </ion-label>
      </ion-item>
    </ion-list>
</ion-content>
