page-stand-list-exposant {
    
    .accueil {
       text-align: center;
   }

   .btnacc {
       height: 50px;
       background: linear-gradient(to top, #0066cc 17%, #66ccff 91%);
   }

   .button-list {
       border-radius: 10% / 55%;
       background: #C51B5E;
       margin-bottom: 10px;
       color: white;
   }
   
   .Liste{
       background: #DED8CF;
       color: black;
       border-radius: 10px 10px 0px 0px;
   }

   
}
