<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Téléchargement de l'application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Pour naviguer plus vite, installer l'application en cliquant en dessous</p>
            <p><a href="https://doc-08-64-docs.googleusercontent.com/docs/securesc/rvmk2mm2s81uicvb4ihltmn69hefb7hn/9ko0vn0b0c8rk1ldog59l7tfuvd9fet7/1574409600000/03847527417986628817/03847527417986628817/15fULTveBtVPmPlBXbbQajehSbun58X7y?e=download&authuser=0"  target="_blank"><b>Accès au téléchargement de l'application</b></a></p>    
</ion-content>
