<ion-header>
  <ion-toolbar>
     <ion-buttons slot="start">
      <ion-button (click)="accueilpage()"><ion-icon name="arrow-back"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Téléchargement de l'application</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<p>Pour naviguer plus vite, installer l'application en cliquant en dessous</p>
            <p><a href="https://doc-10-64-docs.googleusercontent.com/docs/securesc/rvmk2mm2s81uicvb4ihltmn69hefb7hn/vto66je2nfs4n9fdqtjubh7j87r3p2b8/1574409600000/03847527417986628817/03847527417986628817/12corkMoDSb60rVVNJkkZOiSGb4iUzOb6?e=download&authuser=0&nonce=7997ar0poot0u&user=03847527417986628817&hash=c6a3g5vks82n1fj3kei7gpt4kk2mgkmj"  target="_blank"><b>Accès au téléchargement de l'application</b></a></p>    
</ion-content>
