ion-title{
	color: #000080;
    padding-right: 50px;
    text-align: center;
}
h2 {
	text-align: center;
}
img {
  height: 35%;
  width: 35%;
  margin: auto;
  display: block;
  padding-top : 10px;
  border-radius: 10px;
}
p{
	text-align: center;
}