<ion-header>
  <ion-toolbar>
       <ion-buttons slot="end">
           <ion-button (click)="planspage()"><ion-icon name="map"></ion-icon>Plan</ion-button>
       </ion-buttons>
    <ion-title>Jeu Pirate</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
      <ion-label position="floating" color="primary">Trouvez le mot qui correspond au rebus :</ion-label>
          <img src="assets/enigme/rebus_1.png"/>
      <ion-label position="floating" color="primary">Trouvez sur le stand l'objet :</ion-label>
          <img src="assets/enigme/carte2.png"/>
  <form [formGroup]="validations_form"  (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Ecrire le mot de passe qui convient :</ion-label>
      <ion-input type="text" formControlName="username"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.username">
        <div class="error-message" *ngIf="validations_form.get('username').hasError(validation.type) && (validations_form.get('username').dirty || validations_form.get('username').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.terms">
        <div class="error-message" *ngIf="validations_form.get('terms').hasError(validation.type) && (validations_form.get('terms').dirty || validations_form.get('terms').touched)">
          <ion-icon name="information-circle-outline"></ion-icon> {{ validation.message }}
        </div>
      </ng-container>
    </div>
        <ion-button color="primary" class="submit-btn" expand="full" type="submit" [disabled]="!validations_form.valid">Envoyer</ion-button>
  </form>
</ion-content>