    page-lycee {

        .field
        {
            
	        border:1.5px solid black;
            -moz-border-radius:8px;
            -webkit-border-radius:8px;	
            border-radius:8px;	
	        margin-bottom: 5%;
            background: white;
            text-align: center;

        }

        .titre
        {
            color: #C51B5E;
        }

       .texte
       {
        overflow:auto;
        white-space:nowrap;
        letter-spacing:0.1rem;
        text-align: center;
   
       }

      

       table{
        margin:auto;
        }
    }