page-recherche {
    

    .btn {
        text-align: center;
        width: 100%;
        font-weight: bold;
        height: 50px;
        margin-bottom: 40px;
        color:white;
        background: #C51B5E;
        border-radius: 10% / 55%;
        
    }
    ion-list {
        text-align: center;
    }
    ion-icon {
        font-size: 30px;
    }
    button:active{
        background-color: #C51B5E;
    }
    
}