<!--
  Generated template for the RechercheRdvPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
        
            <ion-navbar >
                <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>
                <ion-title>Rechercher un/des RDV</ion-title>
            </ion-navbar>
        
        </ion-header>
        
        
        <ion-content class="background" padding>
            <ion-item class="debutListe">
                <ion-label>Jour :</ion-label>
                <ion-select [(ngModel)]="unJour" (ionInput)="getJour($event)" interface="popover">
                    <ion-option value='samedi'>Samedi</ion-option>
                    <ion-option value='dimanche'>Dimanche</ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="Liste">
                <ion-label>A partir de :</ion-label>
                <ion-datetime [(ngModel)]="uneHeure" displayFormat="HH:mm"></ion-datetime>
            </ion-item>
            <ion-item class="Liste">
                <ion-label>Thèmes :</ion-label>
                <ion-select [(ngModel)]="unTheme" (ionInput)="getTheme($event)" interface="popover" multiple="false">
                    <ion-option value="0">Tous les thèmes</ion-option>
                    <ion-option *ngFor="let theme of themes" value={{theme.id}}>{{theme.libelle}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="Liste">
                <ion-label>Tranche d'âge :</ion-label>
                <ion-select [(ngModel)]="uneTranche" interface="popover" (ionInput)="getTrancheAge($event)">
                    <ion-option value="0">Toutes les tranches</ion-option>
                    <ion-option *ngFor="let age of ages" value={{age.id}}>{{age.libelle}}</ion-option>
                </ion-select>
            </ion-item>
            <ion-item class="finListe">
                <ion-label>Type de RDV :</ion-label>
                <ion-select [(ngModel)]="unTypeRDV" interface="popover">
                    <ion-option value="0">Tous les types</ion-option>
                    <ion-option *ngFor="let typeRDV of typesRDV" value={{typeRDV.id}}>{{typeRDV.nom}}</ion-option>
                </ion-select>
            </ion-item>
        
            <br><button ion-button style="width:100%;" class="btn" color="rouge" (click)="onSearch()">Rechercher</button>
        
            <ion-list>
                <ion-item *ngFor="let r of mesRDV">
                    <button item-end small icon-only ion-button color="orange" (click)="onFavoris( r )"><ion-icon color="primary" name="star"></ion-icon></button>
                    <ion-card (click)="onUnRendezVous(r)">
                        <ion-card-content>
                            <p style="white-space:initial;">
                            <b>{{r.nom}}</b></p> 
                            <br>
                            <p style="white-space:initial;"><b>{{r.nomExposant}}</b></p>
                            <br>
                            <p style="white-space:initial;">{{r.duree}} pour {{r.age}} sur le stand n° <b>{{r.idStand}}</b></p><br>
                            <p><b>{{r.jour}} <span [hidden]="r.duree=='en continu'">{{r.heure}}</span></b></p> 
                        </ion-card-content>
                    </ion-card>
                </ion-item>    
                <!--<button ion-button full [hidden]="mesRDV.length>5 || !mesRDV.length" (click)="onPlan()">Afficher sur le plan</button>-->                   
            </ion-list>
        </ion-content>
        
       